{% extends '@app/views/layouts/elements/header.twig' %}

{% block navigation %}
    <a href="#" name="process">процесс</a>
    <a href="#" name="why">почему мы</a>
    <a href="#" name="prices">цены</a>
    <a href="#" name="portfolio">портфолио</a>
    <a href="#" name="order">заказать</a>
    <a href="#" name="contacts">контакты</a>
{% endblock %}