{% extends '@app/views/layouts/elements/header.twig' %}

{% block navigation %}
    <a href="/" name="process">главная</a>
    <a href="/portfolio" name="process">портфолио</a>
    <a href="/posts" name="why">блог</a>
{% endblock %}