{% extends '@app/views/layouts/main.twig' %}

{% block title %}Блог{% endblock %}

{% block content %}

    {# Wrapper #}
    <div class="showPostsPage sitePage">


        {# Header #}
        <header>
            <div class="container">
                {% include '@app/views/layouts/elements/navigation/site.twig' %}
            </div>
        </header>

        {# Main #}
        <main id="postsPage" class="section"></main>

        {# Footer #}
        {% include '@app/views/layouts/elements/footer.twig' %}

    </div>

    <!-- Scripts -->
    <script src="{{ '/javascript/app.js' }}"></script>
    <script src="{{ '/javascript/pages/post/show.js' }}"></script>

{% endblock %}