// box-shadow mixin.
=shadow($horizontal, $vertical, $blur, $spread, $opacity)
  -webkit-box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0, $opacity)
  -moz-box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0, $opacity)
  box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0, $opacity)

// linear-gradient mixin.
=gradient($light, $dark)
  background: $light
  background: -moz-linear-gradient(left, $light 0%, $dark 100%)
  background: -webkit-linear-gradient(left, $light 0%, $dark 100%)
  background: linear-gradient(to right, $light 0%, $dark 100%)

// linear-gradient mixin.
=gradientVertical($light, $dark)
  background: $light
  background: -moz-linear-gradient(bottom, $light 0%, $dark 100%)
  background: -webkit-linear-gradient(bottom, $light 0%, $dark 100%)
  background: linear-gradient(to top, $light 0%, $dark 100%)