*:not(input[type=checkbox])
  -webkit-appearance: none

// ОБЩИЕ ПРАВИЛА
html, body
  margin: 0

  height: 100%

  background: $lightGray
  color: $darkGray
  font-family: "Rubik", sans-serif

input, textarea
  color: $darkGray
  font-family: "Rubik", sans-serif

// КОНПКИ
button
  border: 0
  cursor: pointer
  font-family: "Rubik", sans-serif

h1
  font-size: 4em
  font-weight: 300

header
  width: 100%

  background: url("../images/header.png") center top fixed
  background-size: cover
  box-sizing: border-box

  button
    margin-top: 25px
    padding: 15px

    background: $pink
    border-radius: $borderRadius
    color: white
    cursor: pointer
    font-size: 1.5em
    font-weight: 200
    transition: background 125ms, box-shadow 125ms

    +shadow(0, 2.5px, 5px, 0, 0.125)

  button:hover
    background: white
    color: $pink

    +shadow(0, 5px, 15px, 0, 0.125)

  nav
    float: right

    a:link
      margin-right: 20px

      text-decoration: none
      line-height: 64px

    a:visited

    a:hover
      color: white
      text-decoration: underline

    a:last-of-type
      margin-right: 0

  h2
    margin-top: 0

    color: $lightPurple
    font-size: 1.5em
    font-weight: lighter
    text-align: center

  .logo-wrapper
    position: absolute

    padding: 48px 0 0

    width: 100%

    box-sizing: border-box

  .logo
    float: left

    padding-left: 72px

    height: 64px

    background: url("../images/logo.svg") left no-repeat
    background-size: contain
    color: white
    font-size: 1.5em
    font-weight: 300
    line-height: 64px

div.container
  position: relative

  margin: auto

  max-width: 1024px

div.wrapper
  padding: 0 30px

  box-sizing: border-box

div.wrapper:nth-of-type(even)
  background: white

  div.row-img
    border-radius: 0

  div.underline
    background: $cyan

div.wrapper:nth-of-type(odd)
  background: $lightGray

  div.row-img
    background: $cyan

    +shadow(0, 5px, 10px, 0, 0.125)

  div.underline
    background: $pink

div.wrapper:last-child
  background: $darkPurple
  color: white

  background: url("../images/header.png") bottom center fixed
  background-size: cover

  h2
    color: white

  div.underline
    background: white

  span
    display: block

    margin-bottom: 25px

    text-align: center
    font-size: 2em
    font-weight: 300

  a:link, a:visited
    padding: 0 25px

    border-right: solid thin $lightPurple
    color: $lightPurple

  a:hover
    color: white

  a:first-of-type
    padding-left: 0

  a:last-of-type
    padding-right: 0

    border-right: 0

  nav
    text-align: center

div.tagline
  padding: 16em 0

  width: 100%

  color: white

  div.left
    float: left

    width: 50%
    min-width: 480px

  div.right
    float: right

    height: 425px
    width: 50%

    background: url("../images/boy.svg") center no-repeat
    background-size: contain

  p
    font-size: 3em
    font-weight: 200

div.block-title
  margin-bottom: 50px

  text-align: center

div.underline
  display: inline-block

  height: 5px
  width: 30px

div.goodIcon
  margin: auto

  height: 150px
  width: 150px

  background-color: $cyan
  background-position: center
  background-size: contain
  border-radius: 50%

div.price
  float: left
  position: relative

  margin-right: 5%

  width: 30%

  background: white
  box-sizing: border-box
  transition: box-shadow 125ms

  +shadow(0, 2.5px, 5px, 0, 0.125)

  button
    padding: 20px

    width: 100%

    background: $cyan
    color: white
    font-size: 1em
    transition: all 125ms

  button:hover
    background: $pink

  h3
    display: inline-block

    margin: 24px 0
    padding-left: 40px

    font-weight: 500
  // text-align: center

  ul
    margin: 24px 0
    padding: 0 1.5em 0 2.5em

    list-style: circle

  ul:before


  li
    margin: 15px 0

  strike
    display: block

    color: #AAAAAA
    text-align: center

  span
    display: block

    margin: 25px 0

    font-size: 1.5em
    text-align: center

div.price:hover
  +shadow(0, 5px, 15px, 0, 0.125)

div.price:nth-last-of-type(2)
  margin-right: 0

div.clear
  clear: both

main
  width: 100%

  div.container
    padding: 75px 0 150px

h2
  margin: 0

  color: $darkGray
  font-size: 2em
  font-weight: lighter

div.left-block
  float: left

  width: 50%

div.right-block
  float: right

  width: 50%

div.block-row
  margin-bottom: 50px

  h3
    margin-top: 0
    padding-left: 100px

    font-weight: 500

div.block-row:last-of-type
  margin-bottom: 0

div.row-img
  float: left

  height: 75px
  width: 75px

  border-radius: 50%
  color: white
  font-size: 36px
  line-height: 75px
  text-align: center

span.row-text
  display: block

  padding: 0 25px 0 100px

div.why
  div.left-block, div.right-block
    float: none

    width: 100%

  div.block-row
    float: left

    margin-right: 5%

    width: 30%

  div.block-row:nth-child(3n)
    margin-right: 0

  span.row-text
    padding: 0 0 0 100px

// Portfolio

div.slider-wrapper
  position: relative

  height: 768px
  max-width: 1024px

div.prism, div.site-background, div.site-wrapper
  position: absolute

  height: 100%
  width: 100%

div.site-wrapper
  overflow: hidden

div.prism
  z-index: 2

  background: rgba(0, 0, 0, 0.25)
  transition: opacity 125ms ease
  overflow: hidden

div.site-background
  background: center
  background-size: cover
  transition: transform 125ms ease

div.site
  position: absolute
  z-index: 1

  height: 100%
  width: 100%
  opacity: 0
  transition: opacity 500ms

  a:link, a:visited
    color: white

  h3

    font-size: 1.5em
    font-weight: 300

  div.site-details, button.case-button
    z-index: 3

  div.site-details
    position: absolute

    padding: 15px

    top: -25px
    right: -25px

    max-width: 256px

    background: $pink
    color: white

    +shadow(0, 5px, 10px, 0, 0.125)

  button.case-button
    position: absolute

    right: 0
    bottom: 50px
    left: 0

    margin: auto

    height: 50px
    width: 200px

    background: $pink
    border-radius: 25px
    color: white
    font-size: 1em
    outline: none
    transition: background 125ms, box-shodow 125ms, color 125ms

    +shadow(0, 5px, 10px, 0, 0.125)

  button.case-button:hover
    background: white
    color: $pink

    +shadow(0, 5px, 10px, 0, 0.25)

div.site:hover
  div.prism
    opacity: 0

div.active
  z-index: 2

  opacity: 1
  transition: opacity 500ms

div.order
  h3
    margin-top: 0

    font-size: 1.5em
    font-weight: 300

  form
    float: left

    margin-right: 2.5%

    width: 45%

  label
    margin-bottom: 10px

    font-size: 1.5em

  input, textarea
    margin-bottom: 20px
    padding: 7.5px

    border-radius: 2.5px
    font-size: 1em
    transition: box-shadow 125ms

    +shadow(0, 2.5px, 5px, 0, 0.125)

  input, label, textarea
    display: block

    width: 100%

    border: 0
    box-sizing: border-box
    font-weight: 300

  textarea
    resize: none

  input:focus, textarea:focus, input:hover, textarea:hover
    +shadow(0, 5px, 15px, 0, 0.125)

  input[type="submit"]
    margin-bottom: 0
    padding: 20px

    height: 68px

    background: $cyan
    color: white
    cursor: pointer
    font-size: 1.5em
    transition: all 125ms

  input[type="submit"]:hover
    background: $pink

  div.order-right
    float: right

    margin-left: 2.5%

    width: 45%

form.callback
  display: none

  position: fixed
  z-index: 2

  top: 50%
  right: 32px
  left: 32px

  margin: auto

  max-width: 768px

  input
    padding: 15px

    border: 0
    font-size: 1.5em
    font-weight: 300

  input:not([type="submit"])
    position: relative

    width: 100%
    border-radius: 2.5px
    box-sizing: border-box
    outline: none
    transition: box-shadow 125ms

    +shadow(0, 2.5px, 5px, 0, 0.125)

  input:not([type="submit"]):focus, input:not([type="submit"]):hover
    +shadow(0, 5px, 15px, 0, 0.125)

  input[type="submit"]
    position: absolute

    top: 0
    right: 0
    bottom: 0

    background: white
    border-radius: 0 2.5px 2.5px 0
    color: $pink
    cursor: pointer
    transition: background 125ms, color 125ms

  input[type="submit"]:hover
    background: $pink
    color: white

// КНОПКА "ВВЕРХ"
div.up
  display: none

  position: fixed
  z-index: 3

  left: 30px
  bottom: 30px

  height: 50px
  width: 50px

  background-image: url("../images/up.svg")
  border-radius: 50%
  cursor: pointer
  opacity: 0.75
  transition: opacity, box-shadow 125ms

  +shadow(0, 5px, 10px, 0, 0.125)

div.up:hover
  opacity: 0.95

  +shadow(0, 5px, 15px, 0, 0.25)

// Background
div.background
  display: none

  position: fixed
  z-index: 0

  top: 0
  right: 0
  bottom: 0
  left: 0

  background: rgba(0, 0, 0, 0.5)

// ВСПЛЫВАЮЩЕЕ СООБЩЕНИЕ
div.popup
  position: fixed
  z-index: 2

  right: 0
  bottom: -100px
  left: 0

  opacity: 0
  text-align: center

  span
    padding: 15px

    background-color: rgba(255, 51, 153, 0.9)
    border-radius: 24.5px
    color: white
    font-size: 16px

    +shadow(0, 2.5px, 5px, 0, 0.125)

.button
  &, &:focus, &:active, &:hover
    border: none