$mainColor: $pink

// Page wrapper
.homePage
  a:link, a:visited
    color: $lightPurple

  // Portfolio
  .portfolio
    padding-right: 0
    padding-bottom: 0
    padding-left: 0

    max-width: 100%

    // Portfolio element
    .portfolioElement

      &:nth-of-type(2n) .columns
        flex-direction: row-reverse

      // Image
      .portfolioElement-image
        height: 100%

        background: center no-repeat
        background-size: cover

        transition: transform 250ms ease

        &:hover
          transform: scale(1.125)

      @include until($tablet)
        .portfolioElement-image
          min-height: 384px

      // Description
      .portfolioElement-description
        padding: 3em

        background: url("../images/header.png") center top fixed
        background-size: cover

        color: white

        a
          display: inline-block

          color: $darkGray

        h3
          font-size: 2rem

        section
          margin: 1em 0

          font-size: 1.5rem
          font-weight: lighter

        .portfolioElement-descriptionContainer
          max-width: 512px

      @include until($desktop)
        .portfolioElement-description
          background-attachment: initial

      @include until($tablet)
        .portfolioElement-description
          padding: 1em

          h3
            font-size: 1.5rem

          section
            font-size: 1.25rem

    // Even elements
    .portfolioElement:nth-child(even)
      .portfolioElement-descriptionContainer
        float: right

    @include until($desktop)
      // Even elements
      .portfolioElement:nth-child(even)
        .portfolioElement-descriptionContainer
          float: none !important

    // More button
    .portfolioMoreButton
      display: block

      margin: auto

      background-color: $pink

      color: white

      font-size: 1.5em
      font-weight: lighter

    // Portfolio gradient
    .portfolioGradient
      height: 100%
      width: 100%

      transition: opacity 250ms ease

      +gradientVertical(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.25))

      &:hover
        opacity: 0

    @include until($tablet)
      .portfolioGradient
        min-height: 384px

// "Up" button
.homePage ~ div.up
  background-color: $mainColor