// Login page
.loginPage
  height: inherit

  display: flex

  justify-content: center

  background: url("../images/header.png") center top fixed
  background-size: cover

  color: white

  .container
    max-width: 512px

  //*
  //  &, &:hover
  //    color: white

  button[type=submit]
    color: $darkGray

  label
    font-size: 1em
    font-weight: normal

    color: white

// Errors
.loginErrors
  margin-top: 2em
  padding: 1em

  border: solid white thick

  ul
    padding-left: 40px

  li
    list-style: initial

    -webkit-appearance: initial