// Shitty legacy
.sitePage
  // 864px and less
  @media (max-width: 864px)

    // Header
    header

      // Hamburger lines
      .lines
        background-image: url("../images/lines-gray.svg")

      // Hamburger cross
      .cross
        background-image: url("../images/cross-gray.svg")

    // Each section
    main, .section
      padding-top: 64px

    div.logo-wrapper:not(.logo-wrapper-top)
      background: white

/* Even shittier legacy */

// 1024px and less
@media (max-width: 1024px)

  header .logo-wrapper
    padding-right: 1em
    padding-left: 1em

  // Tag line
  div.tagline
    padding: 10em 0

    // Horizontal blocks
    div.left, div.right
      float: none

      margin: 1em auto auto

      width: 75%
      min-width: 0

      text-align: center

  // "Why us" block resizing
  div.why div.block-row
    width: 47.5%

    &:nth-child(3n)
      margin-right: 5%

    &:nth-child(2n)
      margin-right: 0

//
@media (max-width: 864px)
  .homePage
    a:link, a:visited
      color: $pink

  header
    padding: 0

    overflow: hidden

    nav
      position: fixed

      top: 128px
      right: -128px
      bottom: 0

      width: 128px

      overflow: scroll
      transition: all 125ms

      a:link, a:visited
        display: block

        margin-right: 0
        margin-bottom: 16px

        background: white
        border-radius: 24px
        line-height: 48px
        text-align: center

        +shadow(0, 2.5px, 5px, 0, 0.125)

      a:link:hover, a:visited:hover
        background: white

        +shadow(0, 5px, 10px, 0, 0.25)

    .lines, .cross
      position: absolute

      top: 32px
      right: 30px

      height: 32px
      width: 32px

      background-image: url("../images/lines.svg")
      background-size: contain

    .cross
      background: url("../images/cross.svg") center

  div.tagline
    padding: 8em 0

    p
      padding: 0 30px

  div.logo-wrapper
    position: fixed
    z-index: 3

    padding: 16px 1em

    transition: all 125ms ease

  div.logo-wrapper:not(.logo-wrapper-top)
    background: $pink

    +shadow(0, 2.5px, 5px, 0, 0.125)

// Until tablet
@media (max-width: 768px)
  div.tagline p
    font-size: 2.5em

  //  Prices
  div.price
    float: none

    margin: auto auto 24px auto

    width: 75%

  // Last price block
  div.price:nth-last-of-type(2)
    margin-right: auto

  div.slider-wrapper
    height: 512px

  div.up
    opacity: 1

@media (max-width: 640px)
  main div.container
    padding: 48px 0 96px

  h1
    font-size: 3em

  header
    .logo
      padding-left: 52px

      height: 32px

      line-height: 32px

    .cross, .lines
      top: auto

    button
      top: 25px

    nav
      top: 96px

  div.tagline
    max-width: 100%

    padding: 6em 0

    box-sizing: border-box

    div.left, div.right
      width: 100%

    div.right
      margin-top: 8px

    p
      font-size: 2em

  div.left-block, div.right-block
    float: none

    width: 100%

  div.left-block div.block-row:last-of-type
    margin-bottom: 50px

  div.why div.block-row
    float: none

    margin: 0 0 50px 0

    width: 100%

  div.why div.block-row:nth-last-of-type(2)
    margin: 0

  div.site div.site-details
    display: none

@media (max-width: 425px)
  h1
    font-size: 2em

  div.tagline
    button
      font-size: 1em

    p
      font-size: 1.5em

    div.right
      margin-top: 0

  form.callback input
    font-size: 1em

  div.row-img
    float: none

    margin: 0 auto 25px

  div.block-row h3, span.row-text
    padding: 0

    text-align: center

  div.why span.row-text
    padding: 0

  div.price
    width: 100%

  div.slider-wrapper
    height: 256px

    button.case-button
      bottom: 25px

  div.order form, div.order div.order-right
    float: none

    margin: 0

    width: 100%

  div.order form
    margin-bottom: 50px

  div.wrapper:last-child a:link, div.wrapper:last-child a:visited
    padding: 0 10px

    border-right: 0

  div.up
    opacity: 1

// Smallest screens
@media (max-width: 320px)
  div.wrapper:last-child span
    font-size: 1.75em

// Clear
@include until($desktop)
  header
    background-attachment: initial