.sitePage
  main
    padding-top: 128px

  // Logo text
  .logo
    background-image: url('../images/logo-gray.svg')

    color: $darkGray

  // Menu links
  a:link, a:visited
    color: $darkGray

  h1.title
    margin-bottom: 32px

    font-size: 2.5em

// "Up" button
.sitePage ~ div.up
    background-color: white
    background-image: url("../images/up-gray.svg")