<!DOCTYPE html>
<html lang="ru">

<head>

    <!-- Meta -->
    {{ html.csrfMetaTags | raw }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Студия разработки сайтов Polymorphy. Создание сайтов под ключ.">
    <meta name="Keywords" content="HTML, CSS, web, сайт, студия, заказ, дизайн">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">

    {# Yandex Webmaster #}
    <meta name="yandex-verification" content="ad9bec6371de95a1"/>

    <title>{% block title %}{% endblock %}</title>

    <link rel="manifest" href="{{ '/manifest.json' }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png' }}">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ '/css/style.css' }}">

</head>

<body>

{# Content #}
{% block content %}{% endblock %}

{# Common #}
{% include '@app/views/layouts/common.twig' %}

{# Yandex Metrika #}
{% if constant('YII_ENV') == 'prod' %}
    {% include '@app/views/layouts/elements/scripts/yandex.twig' %}
{% endif %}

</body>

</html>