/* ELEMENTS */

// Behance button
.behanceWrapper
  position: relative

  display: inline-block

  height: 100%

  // Behance logo
  .behanceLogo
    z-index: 2

    position: absolute

    top: 8px
    bottom: 8px
    left: 8px

    height: 20px
    width: 20px

    background: center no-repeat url("../images/behance-logo.svg")
    background-size: contain

  // Behance link
  a.behance
    padding-left: 36px

    background-color: $behance

    // TODO: GET RID OF !IMPORTANT
    color: white !important