<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Дизайн разработан в студии
            <a href="https://www.behance.net/polymorphy" target="_blank" class="footer-link">Polymorphy</a>.
            Все права защищены.
        </p>
    </div>
</footer>