{# Wrapper #}
<div class="logo-wrapper logo-wrapper-top">

    {# Name #}
    <a href="/">
        <div class="logo">
            <span>Polymorphy</span>
        </div>
    </a>

    {# Navigation #}
    <div class="lines"></div>
    <nav>
        {% block navigation %}{% endblock %}
    </nav>

    <div class="clear"></div>
</div>