{% extends '@app/views/layouts/main.twig' %}

{% block title %}Разработка сайтов под ключ{% endblock %}


{% block content %}

    <div class="homePage">

        {# Header #}
        <header class="homePage-header">
            <div class="container">

                {% include '@app/views/layouts/elements/navigation/landing.twig' %}

                <!-- Tag -->
                <div class="tagline">

                    <!-- Text -->
                    <div class="left">
                        <h1>Закажите сайт</h1>
                        <p>
                            Предлагаем решения с уникальным дизайном.
                        </p>
                        <button>обратный звонок</button>
                    </div>

                    <!-- Image -->
                    <div class="right"></div>

                    <div class="clear"></div>
                </div>
            </div>
        </header>


        {# Home #}
        <main>

            <!-- Process -->
            <div class="wrapper">
                <div class="container process">

                    <!-- Title -->
                    <div class="block-title">
                        <h2>Процесс разработки</h2>
                        <div class="underline"></div>
                    </div>

                    <!-- Left -->
                    <div class="left-block">

                        <!-- Order -->
                        <div class="block-row">
                            <div class="row-img">1</div>
                            <h3>Заказ</h3>
                            <span
                                    class="row-text">Сначала мы получаем заказ и внимательно ознакамливаемся со всеми Вашими требованиями</span>
                            <div class="clear"></div>
                        </div>

                        <!-- Project -->
                        <div class="block-row">
                            <div class="row-img">2</div>
                            <h3>Проектирование</h3>
                            <span class="row-text">После обсуждения с Вами всех деталей мы начинаем проектирование, в ходе которого создаём прототипы всех страниц</span>
                            <div class="clear"></div>
                        </div>

                        <!-- Design -->
                        <div class="block-row">
                            <div class="row-img">3</div>
                            <h3>Дизайн</h3>
                            <span class="row-text">После утверждения прототипов страниц мы начинаем работать над их внешнем оформлением</span>
                            <div class="clear"></div>
                        </div>

                    </div>

                    <!-- Right -->
                    <div class="right-block">

                        <!-- Markup -->
                        <div class="block-row">
                            <div class="row-img">4</div>
                            <h3>Вёрстка</h3>
                            <span class="row-text">Если Вам нравится дизайн Вашего сайта, то мы приступаем к созданию его вёрстки</span>
                            <div class="clear"></div>
                        </div>

                        <!-- Programming -->
                        <div class="block-row">
                            <div class="row-img">5</div>
                            <h3>Программирование</h3>
                            <span class="row-text">После вёрстки мы пишем код для осуществления бизнес-логики Вашего проекта</span>
                            <div class="clear"></div>
                        </div>

                        <!-- Deploy -->
                        <div class="block-row">
                            <div class="row-img">6</div>
                            <h3>Запуск</h3>
                            <span class="row-text">На последнем шаге мы размещаем проект на хостинге. Ваш сайт готов!</span>
                            <div class="clear"></div>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <!-- Why -->
            <div class="wrapper">

                <!-- Left -->
                <div class="container why">

                    <!-- Title -->
                    <div class="block-title">
                        <h2>Почему мы?</h2>
                        <div class="underline"></div>
                    </div>

                    <div class="left-block">

                        <!-- Unique -->
                        <div class="block-row">
                            <div class="row-img"
                                 style="background-image: url('images/design.svg'); background-size: contain"></div>
                            <h3>Уникальный дизайн</h3>
                            <span class="row-text">Мы не используем шаблоны и для каждого проекта рисуем уникальный дизайн</span>
                            <div class="clear"></div>
                        </div>

                        <!-- Adaptive -->
                        <div class="block-row">
                            <div class="row-img"
                                 style="background-image: url('images/phone.svg'); background-size: contain"></div>
                            <h3>Отзывчивая вёрстка</h3>
                            <span class="row-text">Ваш сайт будет отлично выглядеть на всех типах устройств: на телефонах, планшетах и компьютерах</span>
                            <div class="clear"></div>
                        </div>

                        <!-- Prices -->
                        <div class="block-row">
                            <div class="row-img"
                                 style="background-image: url('images/ruble.svg'); background-size: contain"></div>
                            <h3>Доступные цены</h3>
                            <span class="row-text">Цена каждого сайта индивидуальна. Для его реализации мы выбираем наиболее подходящие и дешёвые инструменты</span>
                            <div class="clear"></div>
                        </div>

                        <!-- Tools -->
                        <div class="block-row">
                            <div class="row-img"
                                 style="background-image: url('images/tool.svg'); background-size: contain"></div>
                            <h3>Инструментарий</h3>
                            <span class="row-text">Для каждого проекта мы подбираем наиболее подходящий инструмент: CMS или фреймворк</span>
                            <div class="clear"></div>
                        </div>

                        <!-- Terms -->
                        <div class="block-row">
                            <div class="row-img"
                                 style="background-image: url('images/clock.svg'); background-size: contain"></div>
                            <h3>Минимальные сроки</h3>
                            <span class="row-text">Мы берёмся только за столько проектов, скольким можем уделить всё наше внимание</span>
                            <div class="clear"></div>
                        </div>

                        <!-- Support -->
                        <div class="block-row">
                            <div class="row-img"
                                 style="background-image: url('images/support.svg'); background-size: contain"></div>
                            <h3>Поддержка</h3>
                            <span class="row-text">Перед заказам Вы можете получить бесплатную консультацию</span>
                            <div class="clear"></div>
                        </div>

                        <div class="clear"></div>

                    </div>
                    <div class="clear"></div>
                </div>

            </div>

            <!-- Prices -->
            <div class="wrapper">
                <div class="container prices">

                    <!-- Title -->
                    <div class="block-title">
                        <h2>Цены на услуги</h2>
                        <div class="underline"></div>
                    </div>

                    <!-- Visit card -->
                    <div class="price">
                        <h3>Визитка</h3>
                        <div class="goodIcon" style="background-image: url('images/visit.svg')"></div>
                        <ul>
                            <li>от 5 дней</li>
                            <li>настройка Google Analytics и Яндекс. Метрика</li>
                            <li>домен на год</li>
                            <li>хостинг на месяц</li>
                            <li>одностраничный сайт</li>
                        </ul>
                        <strike>от 23990 ₽</strike>
                        <span>от 17990 ₽</span>
                        <button>ЗАКАЗАТЬ</button>
                    </div>

                    <!-- Landing -->
                    <div class="price">
                        <h3>Лэндинг</h3>
                        <div class="goodIcon" style="background-image: url('images/landing.svg')"></div>
                        <ul>
                            <li>от 7 дней</li>
                            <li>настройка Google Analytics и Яндекс. Метрика</li>
                            <li>домен на год</li>
                            <li>хостинг на месяц</li>
                            <li>одностраничный сайт</li>
                        </ul>
                        <strike>от 39990 ₽</strike>
                        <span>от 29990 ₽</span>
                        <button>ЗАКАЗАТЬ</button>
                    </div>

                    <!-- Company-->
                    <div class="price">
                        <h3>Компания</h3>
                        <div class="goodIcon" style="background-image: url('images/company.svg')"></div>
                        <ul>
                            <li>от 14 дней</li>
                            <li>настройка Google Analytics и Яндекс. Метрика</li>
                            <li>домен на год</li>
                            <li>хостинг на месяц</li>
                            <li>многостраничный сайт</li>
                        </ul>
                        <strike>от 52990 ₽</strike>
                        <span>от 39990 ₽</span>
                        <button>ЗАКАЗАТЬ</button>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>

            <!-- Portfolio -->
            <div class="wrapper is-paddingless">

                {# Container #}
                <div class="container is-fluid is-marginless portfolio">

                    <!-- Title -->
                    <div class="block-title">
                        <h2>Портфолио</h2>
                        <div class="underline"></div>
                    </div>

                    {# Rendering cases #}
                    {% for case in cases %}
                        <div class="portfolioElement">
                            <div class="columns is-marginless is-multiline">

                                {# Image #}
                                <div class="column is-clipped is-paddingless is-half portfolioElement-imageWrapper">
                                    <a aria-label="{{ case.title }}" href="/portfolio/case/{{ case.id }}">
                                        <div class="portfolioElement-image"
                                             style="background-image: url({{ case.image }})">
                                            <div class="portfolioGradient"></div>
                                        </div>
                                    </a>
                                </div>

                                {# Description #}
                                <div class="column is-half portfolioElement-description">
                                    <div class="portfolioElement-descriptionContainer">
                                        <h3>{{ case.title }}</h3>

                                        <section>{{ case.body }}</section>

                                        <a href="/portfolio/case/{{ case.id }}" class="button">Перейти</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                    {# More button #}
                    <a class="button portfolioMoreButton is-radiusless" href="/portfolio">Смотреть ещё</a>

                </div>

            </div>

            <!-- Order -->
            <div class="wrapper order">
                <div class="container">

                    <!-- Title -->
                    <div class="block-title">
                        <h2>Оформление заказа</h2>
                        <div class="underline"></div>
                    </div>

                    <!-- Form -->
                    <form class="order">
                        <label for="name">Ваше имя:</label>
                        <input id="name" name="name" required>
                        <label for="email">Ваша почта:</label>
                        <input id="email" name="email" type="email" required>
                        <label for="phone">Ваш телефон:</label>
                        <input id="phone" name="phone" required>
                        <label for="order">Детали заказа:</label>
                        <textarea id="order" rows="5" required></textarea>
                        <input type="submit" value="Отправить">
                    </form>

                    <!-- Text -->
                    <div class="order-right">
                        <h3>Отправьте заявку прямо сейчас!</h3>
                        <p>В течение короткого времени с Вами свяжется наш специалист для уточнения деталей заказа.</p>
                        <img alt="Конверт" src="images/message.svg">
                    </div>

                    <div class="clear"></div>
                </div>
            </div>

            <!-- Contacts -->
            <div class="wrapper contacts">
                <div class="container">

                    <!-- Title -->
                    <div class="block-title">
                        <h2>Контакты</h2>
                        <div class="underline"></div>
                    </div>

                    <!-- Phone -->
                    <span>+7 (916) 845-84-60</span>

                    <!-- Navigation -->
                    <nav>
                        <a href="https://vk.com/polymorphy" target="_blank"
                           rel="noopener noreferrer">ВКонтакте</a>
                        <a href="https://www.facebook.com/polymorphystudio"
                           target="_blank" rel="noopener noreferrer">Facebook</a>
                        <a href="https://www.instagram.com/polymorphystudio"
                           target="_blank" rel="noopener noreferrer">Instagram</a>
                        <a href="mailto:info@polymorphy.ru" target="_blank">info@polymorphy.ru</a>
                    </nav>
                </div>
            </div>

        </main>

    </div>

    <!-- Callback field -->
    <form class="callback fade">
        <input id="callback-phone" placeholder="Ваш телефон:" name="callback-phone" required>
        <input type="submit" value="Отправить">
    </form>

    <!-- Scripts -->
    <script src="javascript/app.js"></script>

{% endblock %}