{% extends '@app/views/layouts/main.twig' %}

{% block title %}Войти{% endblock %}

{% block content %}
    <div class="loginPage">

        <div class="container">

            <h1>Авторизация</h1>

            {# Form #}
            <form action="/login" method="post" class="loginForm">
                <input id="form-token" type="hidden" name="{{ csrfParam }}"
                       value="{{ csrfToken }}"/>

                {# Username field #}
                <div class="field">
                    <label class="label" for="username">Введите имя пользователя:</label>
                    <div class="control">
                        <input class="input" id="username" name="LoginForm[username]" type="text">
                    </div>
                </div>

                {# Password field #}
                <div class="field">
                    <label class="label" for="password">Введите пароль:</label>
                    <div class="control">
                        <input class="input" id="password" name="LoginForm[password]" type="password">
                    </div>
                </div>

                {# Remember me #}
                <div class="field">
                    <div class="control">
                        <label class="checkbox" for="remember">
                            <input id="remember" name="LoginForm[rememberMe]" value="1" type="checkbox">
                            Запомнить?
                        </label>
                    </div>
                </div>

                {# Submit button #}
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button" name="submitButton" type="submit">Войти</button>
                    </div>
                </div>

            </form>

            {# Rendering errors #}
            {% if model.getErrors() %}
                <div class="loginErrors">
                    {% for field, errors in model.getErrors() %}
                        <div>{{ field }}:</div>
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            {% endif %}

        </div>

    </div>
{% endblock %}