.case
  h2, h3
    font-weight: lighter

  h2
    margin-bottom: 16px

  h3
    font-size: 1.5em

  section
    margin-bottom: 2em

  // Case image
  .caseImage
    margin: 16px 0

    height: 50vw
    width: 100%

    background: center no-repeat
    background-size: cover

  // Links
  .caseLinks > *
      margin: 0 0.5em 0.5em 0