.portfolioPage

  @media (min-width: 864px)

    .portfolioElement
      position: relative

      cursor: pointer

      transition: all 125ms ease

      &:hover
        z-index: 1000

        transform: scale(1.0625)

        +shadow(0, 10px, 50px, 0, 0.5)