// Page itself
.portfolioPage
  background: $portfolioMain

  // Portfolio navigation
  .portfolioNavigation
    margin: 32px 0

    width: 100%

    text-align: center

    a
      color: $darkGray

  // Navigation element
  .portfolioNavigation-element
    position: relative

    margin: 0 16px

  // Active element
  .portfolioNavigation-element-active
    &:after
      content: ''

      position: absolute

      margin: auto

      right: 0
      bottom: -50%
      left: 0

      height: 3px
      width: 50%

      background-color: $darkGray

  // Portfolio tile
  .portfolioTiles
    .column
      flex-grow: 1

      padding: 0

      background-color: $darkGray
      box-sizing: border-box

      color: white

      text-align: left

  // Columns
  .columns
    margin: 0

  // Portfolio element wrapper
  .portfolioElement-contentWrapper
    display: flex

    padding: 24px

    height: 384px
    width: 100%

    text-align: left

    +gradientVertical(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.25))

    button
      margin-top: 16px

    h2
      color: white
      font-size: 1.5rem

  // Portfolio element
  .portfolioElement-content
    align-self: flex-end

    a
      margin-top: 16px

  // Image
  .portfolioElement-image
    background: center no-repeat
    background-size: cover

  // Placeholder rule
  .ph-picture, .ph-item
    height: auto

    border: 0

// Only portfolio page
.portfolioPage:not(.casePage)
  .section
    padding: 10em 0 0 0

    @include until($tablet)
      padding: 6em 0 0 0


// Responsive layout
@import './responsive.sass'