.showPostsPage
  @media (max-width: 864px)

    h1.title
      font-size: 2em

    .postElement
      h2
        font-size: initial

      .postElement-image
        height: 256px

    .columns .postsMenu
      .box
        margin: 0

        &:last-of-type
          display: none

  @include until($tablet)
    .columns
      display: flex
      flex-direction: column-reverse

    .postElement .postElement-image
      height: 192px