// Page itself
.showPostsPage
  background: $cyan

  #postsPage
    padding-right: 1em
    padding-left: 1em

  footer
    a:link, a:visited
      color: $cyan

  // All tags
  .tags
    margin-top: 16px

  // Tag links
  a.tag
    color: white
    text-decoration: none

  // Tag transition
  .tag.is-info
    background-color: $cyan

  // Active tags
  .activeTags
    display: block

    margin-bottom: 8px

    .tag
      background-color: white
      color: $darkGray

  // Add post form
  .postsPage-addForm
    > *
      margin-bottom: 16px

    *:last-child
      margin-bottom: 0

    input[type=file]
      opacity: 0

    input[type=submit]
      background-color: $cyan
      border: none
      color: white

      &:hover
        background-color: white
        color: $cyan

    .file
      display: block

      span
        max-width: 128px

  // Add post form
  .postsPage-addFormTags
    input
      vertical-align: middle
      position: relative

      margin-right: 4px

    input[type=file]
      display: inline-block

    label
      margin-right: 8px

      color: white

    label:hover
      text-decoration: underline

  // Buttons
  .postsPage-addPostButton, .moreButton
    &, &:focus, &:active, &:hover
      background-color: white

      color: $darkGray

// Post element
.postElement
  position: relative

  // Post links
  a:link, a:visited
    color: $cyan

  // Avatar block
  .media-left
    margin-right: 1.5rem

  // Post body
  .postElement-body
    display: block

    margin: 16px 0

  // Post image wrapper
  .postElement-imageWrapper
    overflow: hidden

  // Post image
  .postElement-image
    height: 384px
    width: 100%

    background: center no-repeat
    background-size: cover

    transition: transform 125ms ease

    &:hover
      transform: scale(1.125)

  .postElement-buttons
    display: flex

    justify-content: flex-end

    margin-bottom: 1em

    width: 100%

  // Delete button
  .postElement-deleteButton, .postElement-editButton
    height: 16px
    width: 16px

    color: lightgrey
    cursor: pointer
    line-height: 1

    transition: color 125ms ease

    &:hover
      color: $darkGray

  .postElement-editButton
    margin-right: .5em


  // Publishing date
  .postElement-time
    display: block

    margin-top: 16px

  // Post author
  .postElement-author
    font-weight: 500

    &:hover
      text-decoration: underline

  // Post avatar
  .postElement-avatar
    background: $cyan
    border-radius: 50%

.postForm-error
  outline: solid 2px $red
  outline-offset: -2px

// Left menu
.postsMenu

  // Separate block
  .postsMenu-block

    // Links other than tags
    a:not(.tag)
      font-size: 1em

      &:hover
        text-decoration: underline

    // Year
    span
      display: block

      margin-bottom: 4px

      font-size: 1.25rem

      // Year link
      a:not(.tag)
        font-weight: 500

    // Inactive tags
    .tags
      margin-top: 0

      span
        font-size: 1em

        margin: 0

  // Last block
  .postsMenu-block:not(:last-of-type)
    margin-bottom: 16px

// "Add" form tags
.postsPage-addFormTags.tags
  margin-top: 0

  .tag
    margin: 0 8px 8px 0

@import './responsive.sass'