{% extends '@app/views/layouts/main.twig' %}

{% block title %}{{ case.title }}{% endblock %}

{% block content %}

    {# Wrapper #}
    <div class="portfolioPage casePage sitePage">

        {# Header #}
        <header>
            <div class="container">
                {% include '@app/views/layouts/elements/navigation/site.twig' %}
            </div>
        </header>

        {# Main #}
        <main class="section">
            <div class="container case">

                <h2>{{ title }}</h2>

                <h3>Описание</h3>
                <section class="caseDescription">
                    <p>{{ description }}</p>
                </section>

                <section class="caseModules">
                    {# Main image #}
                    {% if behance %}
                        {% for module in behance.project.modules %}
                            <a href="{{ module.sizes.original }}" title="Открыть оригинал" target="_blank">
                                <img alt="Модуль: {{ module.id }}" src="{{ module.sizes.max_1240 }}">
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="caseImage" style="background-image: url({{ case.image }})"></div>
                    {% endif %}
                </section>

                {# Links #}
                <div class="caseLinks">
                    <a class="button" href="{{ case.link }}" target="_blank">Перейти на сайт</a>

                    {% if (case.behance) %}
                        <div class="behanceWrapper">
                            <div class="behanceLogo"></div>
                            <a class="button behance" href="{{ behance.project.url }}" target="_blank">Посмотреть
                                кейс</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </main>

        {# Footer #}
        {% include '@app/views/layouts/elements/footer.twig' %}

    </div>

    <!-- Scripts -->
    <script src="{{ '/javascript/app.js' }}"></script>

{% endblock %}